@use "../../colors.scss";

.chapter-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.chapter {
  width: 90%;
  padding: 1rem;
  border-bottom: 1px solid #dedde3;
  color: colors.$neutral_grey;
}

.static-line {
  width: 90%;
  border-bottom: 1px solid #dedde3;
}

.chapter-active {
  font-weight: 600;
  border-bottom: 1px solid rgb(242, 95, 58);
}

@media only screen and (min-width: 815px) {
  .chapter-wrapper {
    flex-direction: row;
    justify-content: center;
  }

  .chapter {
    width: 20%;
  }

  .static-line {
    display: none;
  }
}
