@use "../../colors.scss";

.faq-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 80px 0;
  gap: 20px;
}

.faq-container {
  width: 90%;
  border-bottom: 1px solid #dedde3;
}

.question-dropdown {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  align-items: center;
}

.question-dropdown h5 {
  font-size: 0.8rem;
  color: colors.$neutral_navy;
}

.faq-container p {
  font-size: 0.7rem;
  color: colors.$neutral_grey;
  padding: 10px 0 20px 0;
  line-height: 2rem;
}

@media only screen and (min-width: 815px) {
  .additional-faq-headline-style {
    width: 60%;
  }

  .faq-container {
    width: 55%;
  }

  .faq-container p {
    font-size: 1rem;
  }

  .question-dropdown h5 {
    font-size: 1.3rem;
  }

  .faq-wrapper button {
    margin: 40px 0 60px 0;
    width: 6rem;
  }
}
