@import "../../colors.scss";

.manager-image-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: flex-start;
  position: relative;
  margin-top: 120px;
}

.manager-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  min-height: 10rem;
}

.right-image-background {
  height: 170px;
  width: 70%;
  background-color: $main_blue;
  border-radius: 30% 0 0 30%;
}

.manager-image {
  height: 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 19px 34px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 19px 34px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 19px 34px -7px rgba(66, 68, 90, 1);
}

.image-tab1 {
  width: 280px;
  object-fit: fill;
  border: 10px solid black;
  border-radius: 10%;
}
