@use "../../colors.scss";

.manager-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  min-height: 10rem;
  flex-direction: column;
}

.manager-right-image-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: flex-start;
  position: relative;
  margin-top: 120px;
}

.image-background-right {
  height: 170px;
  width: 70%;
  background-color: colors.$main_blue;
  border-radius: 30% 0 0 30%;
}

.manager-image-right {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-tab-right {
  width: 100%;
  height: 140%;
  object-fit: contain;
  border-radius: 10%;
}

.manager-left-image-wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  position: relative;
  margin-top: 120px;
}

.image-background-left {
  height: 170px;
  width: 70%;
  background-color: colors.$main_blue;
  border-radius: 0 30% 30% 0;
}

.manager-image-left {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-tab-left {
  width: 100%;
  height: 110%;
  object-fit: contain;
  border-radius: 10%;
}

.manager-info-wrapper {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  text-align: center;
  width: 90%;
}

.headline h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: colors.$neutral_navy;
}

.description {
  margin-top: 20px;
  text-align: center;
  width: 90%;
}

.description p {
  color: colors.$neutral_grey;
  line-height: 2rem;
  font-size: 1rem;
}

.manager-button-wrapper {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.space {
  margin-top: 6rem;
}
