@use "../../colors.scss";

.manager-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  min-height: 10rem;
  flex-direction: column;
}

.manager-image-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: flex-start;
  position: relative;
  margin-top: 120px;
}

.right-image-background {
  height: 170px;
  width: 70%;
  background-color: colors.$main_blue;
  border-radius: 30% 0 0 30%;
}

.manager-image {
  height: 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 19px 34px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 19px 34px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 19px 34px -7px rgba(66, 68, 90, 1);
}

.image-tab1 {
  width: 280px;
  object-fit: fill;
  border: 10px solid black;
  border-radius: 10%;
}

.manager-info-wrapper {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  text-align: center;
}

.headline h1 {
  font-size: 1.7rem;
  font-weight: 500;
  color: colors.$neutral_navy;
}

.description {
  margin-top: 20px;
  text-align: center;
  width: 90%;
}

.description p {
  color: colors.$neutral_grey;
  line-height: 2rem;
  font-size: 1rem;
}

.manager-button-wrapper {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.space {
  margin-top: 6rem;
}
